.products {
    .landscape-product-card {
        padding: 0 0.715em;
        border: none;
        margin-bottom: 1.4em;
        background-color: transparent;

        @include media-breakpoint-up(xxl) {
            height: 216px;
        }

        img {
            max-width: 188px;
            margin-bottom: 0;
        }

        > a {
            padding: 1.786em 0.715em;

        }

        .media {
            padding: 1.643em 1.071em 1.643em 0.571em;
            background-color: #fff;
            border: 2px solid transparent;
            transition: all 0.25s ease 0s;
        }

        .media-body {
            text-align: left;
            padding-top: 0.575em;
            position: relative;

            @include media-breakpoint-up(sm) {
                padding-left: .72em;
            }

            .star-rating {
                margin: 0;
                margin-right: .385em;
            }
        }

        .star-rating {
            font-size: 1.143em;
            letter-spacing: 3px;
            width: 6em;
        }

        h3 {
            margin-bottom: 0.786em;
        }

        .button {
            padding: .76em 1.41575em;
            margin-bottom: 0.9em;
        }

        .hover-area {
            border: none;
            padding: 1.286em 0 0 0;
            box-shadow: none;
            position: relative;

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }

        &:hover {
            .media {
                border-radius: 6px;
                box-shadow: 0 0 18px rgba(1,1,1,.2);
                position: relative;
                z-index: 9;
                border: 2px solid #ebebeb;
            }

            .hover-area {
                display: block;
            }
        }

        .yith-wcwl-add-to-wishlist .add_to_wishlist::before {
            content: "\6b";
            font-family: "techmarket-icons";
            color: #444;
        }
    }
}

.landscape-full-product-cards-carousel .products{
    .landscape-product-card {
        margin-bottom: 1.441em;

        @include media-breakpoint-up(xl) {
            height: 283px;
        }

        .media {
            padding: 2em 1.643em 1.6em 0.929em;

            @include media-breakpoint-down(xs) {
                flex-direction: column;
                padding: 2em 1.643em;
            }
        }

        .media-body {
            @include media-breakpoint-up(sm) {
                padding-left: 1em;
            }

            .star-rating {
                margin: 0 0.375em 1.44em 0;
            }

            @include media-breakpoint-up(xl) {
                min-height: 228px;
            }

            .price {
                font-size: 1.3em;
            }

            @include media-breakpoint-down(xs) {
                margin: auto;
                text-align: center;

                .star-rating {
                    margin: auto 0.375em 1.44em auto;
                }
            }
        }

        &:hover {
            .media-body {
                @include media-breakpoint-up(xl) {
                    min-height: 244px;
                }
            }
        }

        &:hover .add-to-compare-link,
        .hover-area {
            @include media-breakpoint-up(xl) {
                display: inherit;
            }
        }

        .woocommerce-LoopProduct-link {
            @include media-breakpoint-up(xxl) {
                width: 255px;
            }

            @include media-breakpoint-down(xs) {
                margin: auto;

                .ribbon {
                    margin: auto auto .786em auto;
                }
            }
        }

        .hover-area {
            z-index: 1;
            padding: 0 0 0.143em 0;
            opacity: 1;
            transform: translate(0,0px);
            text-align: center;
        }

        .add-to-compare-link {
            line-height: 1.2em;

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }

        img {
            @include media-breakpoint-up(xxl) {
                width: 255px;
            }

            @include media-breakpoint-up(xl) {
                width: 150px;
            }
        }
    }
}

.section-landscape-products-card-carousel-tabs {
    &.section-products-carousel-tabs .products {
        .product {
            padding: 0 .715em;

            .media {
                @include media-breakpoint-down(xs) {
                    flex-direction: column;
                    padding: 2em 1.643em;
                }

                .hover-area {
                    @include media-breakpoint-down(lg) {
                        display: inline-block;
                        min-width: 200px;
                        text-align: center;
                    }
                }
            }
        }

        .product.slick-active::after {
            height: 130px;
        }
    }
}

.section-landscape-full-product-cards-carousel {
    .landscape-full-product-cards-carousel .products {
        .landscape-product-card{
            &:first-child {
                padding-right: 1.429em;
                padding-left: 0px;
            }

            &:last-child {
                padding: 0px;
            }
        }
    }
}
