.section-landscape-products-carousel {
    margin-bottom: 3.750em;
    
	.section-header {
		margin-bottom: 2.875em;
		padding-bottom: 0.813em;
	}

	.section-title {
		margin-bottom: 0;
	}

	.products-carousel {
		.woocommerce {
			overflow: hidden;
		}
	}

	.slick-list {
		margin-bottom: 1.625em;
	}
}
