/**
 * My Account
 */
.woocommerce-MyAccount-navigation {
	ul {
		margin-left: 0;
		border-top: 1px solid $color_border;
	    margin-bottom: 1.875em;

		li {
			list-style: none;
			border-bottom: 1px solid $color_border;
			position: relative;

			a {
				padding: ms(-1) 0;
				display: block;
				font-weight: 500;
			}
		}
	}
}

ul.order_details {
	@include clearfix;
	list-style: none;
	position: relative;
	margin: 1em 0;

	@include media-breakpoint-up(md) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -16px;
		left: 0;
		width: 100%;
		height: 16px;
		background-size: 0px 100%, 16px 16px, 16px 16px;

	}

	&:after {
		top: auto;
		bottom: -16px;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	li {
		padding: 1em 0;
		font-size: .8em;
		text-transform: uppercase;

		&:first-child {
			padding-top: ms(3);
		}

		&:last-child {
			border: 0;
			padding-bottom: ms(3);
		}

		strong {
			display: block;
			font-size: ms(2);
			text-transform: none;
		}
	}
}

.my_account_orders,
.woocommerce-MyAccount-downloads {
	.button {
		padding: ms(-2) ms(-1);
		font-size: ms(-1);
		margin-right: .236em;
	}
}

.woocommerce-MyAccount-content {
	h2 {
		font-size: 2em;
		font-weight: 600;
	}

	#payment {
		.payment_methods {
			margin-bottom: ms(3) !important;

			li {
				.payment_box {
					background-color: rgba(#000,.05);
				}
			}
		}
	}
}

.woocommerce-MyAccount-content {
	.woocommerce-Pagination {
		text-align: center;
	}
}

.woocommerce-EditAccountForm {
	&.edit-account {
		.form-row-first,
		.form-row-last {
			float: left;
		}

		legend {
			//padding-left: 15px;
			font-size: 1.6em;
	        font-weight: 500;
		}

		label {
			font-weight: 400;
		    line-height: 1.5em;
		    letter-spacing: -.01em;
		    color: #626060;
		    margin-bottom: .5em;
		}

		// input[type=submit] {
		// 	margin-left: 15px;
		// }
	}
}

.woocommerce-account {
	.hentry.type-page .entry-header .entry-title {
		font-size: 2em;
	}

	@include media-breakpoint-down(xs) {
		.hentry.type-page .entry-header {
			margin-bottom: 2.7em!important;
		}
	}
}

.woocommerce-MyAccount-navigation {
	@include media-breakpoint-up(md) {
		@include media-breakpoint-down(lg){
			@include span( 3 of 9 );
		}
	}

}

.woocommerce-MyAccount-content {
	@include media-breakpoint-up(md) {
		@include media-breakpoint-down(lg){
			@include span(last 6 of 9 );
		}
	}
}
