.products,.product-loop-categories {
	.product-category {
		background-color: #f9f9f9;

		@include hover-focus() {
			border-color: transparent;
		}

		a {
			display: block;
			width: 100%;

			@include hover-focus() {
				text-decoration: none;
			}
		}

		h2, // @todo Remove when WooCommerce 2.8 is live
		h3, // @todo Remove when WooCommerce 2.8 is live
		.woocommerce-loop-category__title {
			font-size: 1.071em;
			line-height: 1.3;
			color: #444;
			font-weight: 500;
			margin: 0;

			mark {
				display: none;
			}
		}

		img {
			margin-bottom: 0.786em;
		}
	}
}

.product-categories-carousel {
	.products {
		.product-category {
			&:nth-child(odd) {
				background-color: #fff;
			}
		}
	}
}

.columns-8 {
	.products {
		.product-category {
			&:nth-child(2n) {
				//padding: 15px 6px;
			}

			img {
				max-width: 184px;
			}
		}
	}
}

.section-product-categories {
	header {
		border-bottom: 1px solid #ebebeb;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.4em;
		padding-bottom: .813em;
	}

	.woocommerce-products-header__title {
		font-size: 1.5em;
		font-weight: 500;
		color: #444;
		margin-bottom: 0;
	}
}

.product-loop-categories {
	@include make-row;
	margin-bottom: 20px;

	.product-category {
		@include make-col-ready;
		padding: 0 10px !important;
		margin-bottom: 20px;
	}
}

.product-loop-categories {
	.product-category {
		background-color: transparent;
		text-align: center;
		padding: 0;

		a {
			padding: 20px 0;
			background-color: #f9f9f9;

			img {
				padding: 0 14px;
				margin: auto auto .786em;
			}
		}

		h2,
		.woocommerce-loop-category__title {
			color: #292929;
			font-size: 1em;
		}
	}
}

.columns-2 .product-loop-categories {
	.product-category {
		@include make-col(6);
	}
}

.columns-3 .product-loop-categories {
	.product-category {
		@include make-col(4);
	}
}

.columns-4 .product-loop-categories {
	.product-category {
		@include make-col(3);
	}
}

.columns-5 .product-loop-categories {
	.product-category {
		@include make-col(2.4);
	}
}

.columns-6 .product-loop-categories {
	.product-category {
		@include make-col(2);
	}
}

.columns-7 .product-loop-categories {
	.product-category {
		@include make-col(1.71428571429);
	}
}

.columns-8 .product-loop-categories {
	.product-category {
		@include make-col(1.5);
	}
}
