.products-6 {
    .products {
        @media (min-width: 480px) and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
        }

        .product {
            padding-right: 8px;
            padding-left: 8px;

            @include media-breakpoint-up(xl) {
                &::before {
                    content: " ";
                    width: 1px;
                    height: 179px;
                    background-color: #ebebeb;
                    display: block;
                    position: absolute;
                    left: -3px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &:hover {
                &::before {
                    opacity: 0;
                }
            }

            &:nth-child(1) {
                &::before { opacity: 0;}
            }

            @include media-breakpoint-up(xl) {
                @include media-breakpoint-down(xl) {
                    &:nth-child(3) {
                        &::before { opacity: 0;}
                    }

                    &:nth-child(n+5) {
                        display: none;
                    }
                }
            }

            @include media-breakpoint-up(md) {
                @include media-breakpoint-down(lg) {
                    &:nth-child(n+3) {
                        display: none;
                    }
                }
            }

            @include media-breakpoint-up(xxl) {
                &:nth-child(4) {
                    &::before { opacity: 0;}
                }
            }

            @media (min-width: 480px) and (max-width: 767px) {
                @include make-col(6);
            }

            .yith-wcwl-add-to-wishlist .add_to_wishlist::before,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a::before,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a::before {
                @include media-breakpoint-up(xl) {
                    right: 8px;
                }

                @include media-breakpoint-down(md) {
                    right: auto;
                    left: 8px;
                }
            }
        }
    }
}
