.section-products-carousel-tabs {
	@include media-breakpoint-down(md) {
		overflow: hidden;
	}

	.section-title {
		font-weight: 400;
		font-size: 1.5em;
		line-height: 0.962em;
		letter-spacing: -0.01em;
		color: #090909;
		margin: 0;

		@include media-breakpoint-down(lg) {
			font-size: 1.3em;
		}
	}

	.section-header {
		align-items: baseline;
	}

	.tab-pane.active {
	    //margin-left: -2px;
	}

	.nav {
		margin: 0;
		align-items: center;
	}

	@media (min-width: 700px) {
		.nav-item {
			& + .nav-item {
				margin-left: 2.556em;
			}
		}
	}

	.nav-link {
		font-size: 1.125em;
		line-height: 1.167em;
		font-weight: 400;
		letter-spacing: -0.01em;
		color: #8a8a8a;
		padding: 0;
		text-align: center;

		@include media-breakpoint-down(lg) {
			font-size: 1em;
		}

		&::after {
			content: ' ';
			border-bottom: 2px solid transparent;
			display: block;
			position: relative;
			bottom: -1px;
			margin-left: 20%;
			padding-top: 9px;
			margin-right: 20%;
		}

		&.active {
			font-weight: 500;
			color: #090909;
		}
	}
}

.section-deals-carousel-and-products-carousel-tabs,
.section-single-carousel-with-tab-product {
	.section-products-carousel-tabs {
		.section-header {
			li{
				position: relative;

				@media (min-width: 479px) {
					&:after {
						position: absolute;
						content: '';
						background-color: #cfcfcf;
						width: 7px;
						height: 1px;
						left: -30px;
						bottom: 47%;
					}
				}

				&:first-child:after {
					display: none;
				}
			}
		}
	}
}

.section-tabs-with-product-carousel {
	.section-header {
		li{
			position: relative;

			a {
				font-size: 1.250em;

				&.active {
					font-size: 1.375em;
				}
			}

			@media (min-width: 479px) {
				&:after {
					position: absolute;
					content: '';
					background-color: #cfcfcf;
					width: 7px;
					height: 1px;
					left: -33px;
					bottom: 47%;
				}
			}

			&:first-child:after {
				display: none;
			}
		}

		.nav-item+.nav-item {
			margin-left: 3.75em;
		}
	}
}
