/**
 * Widgets
 */
.product_list_widget {
	list-style: none;
	margin-left: 0;

	li {
		padding: 1em 0;
		border-bottom: 1px solid $color_border;
		@include clearfix;

		img {
			max-width: ms(5);
			float: right;
		}

		> a {
			display: block;
		}
	}

	a {
		&:hover {
			color: $color_links;
		}
	}
}

.widget_price_filter {
	.price_slider {
		margin-bottom: 1em;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;

		.button {
			float: left;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		@include border-top-radius(1em);
		@include border-bottom-radius(1em);
		cursor: ew-resize;
		outline: none;
		background: $color_links;
		box-sizing: border-box;
		margin-top: -3.5px;
		opacity: 1;

		&:last-child {
			margin-left: -1em;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 .236em rgba(#000, 0.1);
		}
	}

    .ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background: $color_links;
		@include border-top-radius(1em);
		@include border-bottom-radius(1em);
	}

	.price_slider_wrapper .ui-widget-content {
		@include border-top-radius(1em);
		@include border-bottom-radius(1em);
		background: rgba(0,0,0,0.1);
	}

	.ui-slider-horizontal {
		height: .5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px;
	}
}

.site-header {
	.widget_shopping_cart {
		p.total,
		p.buttons,
		li {
			padding-left: ms(2);
			padding-right: ms(2);
		}

		li {
			border-bottom: 0;
		}

		.product_list_widget{
			.mini_cart_item {
				.remove {
					right: 16px;
					top: 7px;
					left: auto;
				}

				a {
					font-size: 0.938em;
				}
			}
		}

		dl.variation {
			margin-left: 0;
			font-size: 0.76em;

			& + .quantity {
				margin-left: 0;
			}
		}
	}
}

.widget_shopping_cart {
	.product_list_widget{
		margin-bottom: 0;

		.mini_cart_item {
			border-bottom: 0px;
			position: relative;

			.remove {
				width: 20px;
				position: absolute;
				height: 20px;
				min-width: 20px;
				top: -3px;
				margin-bottom: 0;
				left: -3px;
			    border-radius: 50px;

				&:before {
					font-size: 0.571em;
					color: #fff;
					line-height: 1;
					top: 50%;
				    left: 50%;
					bottom: auto;
				    transform: translate(-50%, -50%);
				}
			}

			a {
				color: #626060;
				min-width: 265px;
				margin-bottom: 0.4em;
				line-height: 1.2;
			}

			img {
				max-width: 75px;
			}

			.quantity {
				font-weight: 500;
				margin-top: 10px;
			}
		}
	}

	.woocommerce-mini-cart__empty-message {
		margin-bottom: 0;
		text-align: center;
		font-size: 15px;
		padding: 20px;
	}

	p.total,
	p.buttons {
		padding: 1em 0;
		margin: 0;
		text-align: center;
	}

	p.total {
		border-bottom: 1px solid #dadada;
		border-top: 1px solid #dadada;
	}

	.buttons {
		display: flex;
		flex-direction: column;

		.button {
			border-radius: 32px;
			font-weight: 500;
			border: none;
			padding: 8px;
			font-size: 15px;
			color: #fff;

			&:nth-child(odd) {
				margin-bottom: .8em;
			}
		}

		.checkout {
			background-color: #858585;

			&:hover {
				background-color: darken( #858585, 4% );
			}
		}
	}

	.quantity {
		font-size: 14px;
	}

	dl.variation {
	    margin-bottom: 6px;
		margin-left: 110px;

		dd {
			margin: 0 0 6px 0;

			p {margin: 0;}
		}

		dt {
			text-transform: capitalize;
		}

		& + .quantity {
			margin-left: 110px;
		}
	}
}

#secondary {
	.widget {
		.widget-title, {
		    border-bottom: 1px solid #ebebeb;
		    margin-bottom: 0.9em;
		    padding-bottom: 0.25em;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    position: relative;
		    z-index: 1;
		    font-size: 1.429em;
	        font-weight: normal;
		}

		ul li {
			a {
				font-size: 1.071em;
				font-weight: normal;
				color: #2b2b2b;
				letter-spacing: -.01em;
				line-height: 1.4em;
				margin-bottom: 0.333em;
			}
		}

		&.widget_shopping_cart .product_list_widget .mini_cart_item a + a {
			min-width: 100%;
		}

		&.widget_product_search form{
		    display: flex;

			input[type=search] {
				border-radius: 3px;
				border-bottom-right-radius: 0px;
	    		border-top-right-radius: 0px;

			}

			input[type=submit] {
				position: initial !important;
				border-bottom-left-radius: 0px;
	   			border-top-left-radius: 0px;

	   			&:hover {
	   				background-color: #0059bd;
	   			}
			}
		}

		&.widget_product_categories,
		&.widget_layered_nav {
			select {
	    		width: 100%;
			}
		}

		ul.product_list_widget li {
			border: 0px;
			padding: 0px;
			padding-bottom: 1.429em;

			a img {
				float: left;
			    max-width: 100px;
			    margin-right: 0.653em;

				@include media-breakpoint-up(xl) {
					@include media-breakpoint-down(xl) {
						max-width: 84px;
					}
				}
			}

			span.product-title {
				max-height: 42px;
			    color: #626060;
			    overflow: hidden;
	    		display: block;

				@include media-breakpoint-up(xl) {
					@include media-breakpoint-down(xl) {
						font-size: 13px;
					}
				}
			}

			span.amount {
				font-weight: 500;
			}

			.star-rating {
				margin-bottom: .3em;
			}
		}

		&.woocommerce ul li del {
			font-size: 0.929em;
			color: #b8b8b8;
		}

		&.widget_price_filter {
		    margin-bottom: 5.306em;

		    .widget-title {
	    	    margin-bottom: 0.750em;
		    }

			.price_slider_wrapper {
				display: flex;
	    		flex-direction: column-reverse;
	    		position: relative;
			}

			.price_slider{
				height:2px;
				background-color: #eeeeee;
				margin-bottom: 0px;
				width: 96%;

				.ui-slider-range {
					top: 0px;
					height: 2px;
				    background-color: $primary_color;
				}

				.ui-slider-handle {
				    width: 10px;
					height: 10px;
					background: $primary_color;
				    top: -1px;

					&:last-child {
					    margin-left: 0px;
					}
				}
			}

			.price_slider_amount {
				margin-bottom: 1.571em;
				display: flex;
				flex-wrap: wrap;
	    		justify-content: flex-end;

				.price_label {
					display: none !important;
				}

				button {
					font-size: 1.224em;
				}

				input {
				    display: block !important;
				    margin: 0px;
				    text-align: center;
				    font-size: 18px;
	    			width: 43%;
	   			    border-radius: 4px;
	   			    margin-bottom: 0.833em;

	    			&:first-child {
	   				    margin-right: 1.722em;
	    			}
				}

				&:after {
					content: "";
				    width: 7px;
				    height: 2px;
				    background-color: #000;
				    position: absolute;
				    left: 50%;
				    top: 19%;
				}
			}
		}

		&.widget_layered_nav {
			.widget-title {
				margin-bottom: 0.563em;
			}

			ul {
			    margin-bottom: 1.143em;

				li {

					a {
						font-size: 15px;
					    text-transform: capitalize;
					    color: #444444;
				        padding-bottom: 0.2em;

					    &:before {
						    content: "\f096";
						   	font-family: FontAwesome;
						   	margin-right: 15px;
						    font-size: 22px;
						    text-rendering: auto;
						    -webkit-font-smoothing: antialiased;
						    vertical-align: top;
						    color: #d5d5d5;
					    }
					}

					& a:hover:before,
					&.chosen a:before {
			    	    content: "\f0c8";
			    	    color: $primary_color;
		    	        font-size: 20px;
		    	        text-rendering: auto;
					    -webkit-font-smoothing: antialiased;
				    }

					span {
						display: none;
					}
				}
			}

			p a{
				font-size: 1.062em;
			}
		}

		&.widget_layered_nav_filters {
			ul li.chosen {
				a {
				    font-size: 1.224em;

				    &:before {
				    	content: "\f057";
					   	font-family: FontAwesome;
					   	margin-right: 15px;
					    font-size: 19px;
					    text-rendering: auto;
					    -webkit-font-smoothing: antialiased;
					    vertical-align: top;
					    color: #444444;
				    }

				    &:hover:before {
				    	color: #e00;
				    }
				}
			}
		}

		&.widget_techmarket_products_filter {

			span.widget-title {
				border-bottom: 0px;
				font-size: 1.306em;
				padding-bottom: 0.55em;
				font-weight: 400;
			}

			&>span.widget-title {
			    border-bottom: 1px solid #ebebeb;
			    font-size: 1.429em;
		        margin-bottom: 1.550em;
			}
		}

	}
}

// .site-content:not(.active-hh-sidebar) {
// 	#secondary {
// 		.widget {
// 			@include media-breakpoint-up(md) {
// 		        @include media-breakpoint-down(lg) {
// 					@include make-col-ready;
// 		            @include make-col(6);
// 		        }
// 		    }
// 		}
// 	}
// }

@media (max-width: 1023px) {
	#content {
		#secondary {
			&.shop-sidebar {
		   		background-color: #fff;
		   		position: fixed;
		   		top: 0;
				left: -340px;
				width: 340px;
		   		height: 100%;
		   		transition: left 0.2s;
		   		overflow-y: scroll;
		   		-webkit-overflow-scrolling: touch;
		   		transition: left 0.2s;
		   		z-index: 10000;
		   		display: block !important;
		   	}
		}

		&.active-hh-sidebar {
			#secondary.shop-sidebar {
				left: 0;
				box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.66);
			}

			.content-area::after {
				content: " ";
				width: 100%;
				height: 100%;
				background-color: #000;
				opacity: .6;
				position: fixed;
				z-index: 999;
				top: 0;
				transition: left 0.2s;
			}
		}
	}

	.full-width #content {
		&.active-hh-sidebar {
			.content-area::after {

			}
		}
	}

	.admin-bar #content #secondary.shop-sidebar {
		padding-top: 48px;
	}
}

@media (max-width: 500px) {
	#content {
		#secondary {
			&.shop-sidebar {
				left: -90%;
		   		width: 90%;
			}
		}
	}
}
