.section-products-isotope {
	.isotope-products {
		.section-header {
            padding-top: 30px;
			-ms-grid-column: 1;
			-ms-grid-row: 1;

			.marketing-text {
                margin-bottom: 17px;
            }
		}

		.deal-countdown {
			span[data-value] {
                display: none;
            }

			> span {
				&:nth-child(n+3) {
					margin-left: 0.6em;
				}

				b {
    				margin-left: .5em;
				}

				@include media-breakpoint-up(md) {
                    @include media-breakpoint-down(xl) {
						flex-wrap: wrap;
						width: 50px;
						justify-content: center;

						.value {
							margin-bottom: 8px;
						}

						b {margin-left: 0;}

						&:nth-child(n+3) {
							margin-left: 1em;
						}
					}
				}
			}
		}
	}

	.row-1,
    .row-2 {
		@include media-breakpoint-up(md) {
			margin-bottom: 20px;
		}
    }

	.products {
		.yith-wcwl-add-to-wishlist .add_to_wishlist::before,
		.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a::before,
		.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a::before {
			top: 18px;
			right: 24px;
			left: auto;
		}
	}

    .row-1,
    .row-2,
    .row-3 {
        .products {
            .product {
                padding: 25px;

                .woocommerce-LoopProduct-link {
                    img {
						@include media-breakpoint-up(xxl) {
							max-width: 270px;
						}
                    }
                }

				.hover-area {
					@include media-breakpoint-up(md) {
						padding: 0 50px 15px;
					}

					@include media-breakpoint-up(md) {
						@include media-breakpoint-down(md) {
							padding: 0 0 15px;
						}
					}

					@include media-breakpoint-up(lg) {
						@include media-breakpoint-down(lg) {
							padding: 0 20px 15px;
						}
					}
                }
            }
        }
    }

    .row-3 {
        margin-bottom: 50px;
		.products {
			.product {
                &:nth-child(3n+1) {
					@include media-breakpoint-up(md) {
						@include media-breakpoint-down(lg) {
							display: none;
						}
					}
				}
			}
		}
    }

    .row-1 {
        .products {
            -webkit-grid-columns: repeat(4, 332px);
            -ms-grid-columns: 332px 332px 332px 332px 332px;
                grid-template-columns: repeat(4, 332px);
            -webkit-grid-rows: repeat(2, 384px)x;
            -ms-grid-rows: 384px 384px;
                grid-template-rows: repeat(2, 384px);
            -ms-grid-gap: 20px;
            -webkit-gridgrid-gap: 20px;
                grid-gap: 20px;

			@include media-breakpoint-up(xl) {
	            @include media-breakpoint-down(xl) {
					-webkit-grid-columns: repeat(5, 18.6%);
		            -ms-grid-columns: 18.6% 18.6% 18.6% 18.6% 18.6%;
		                grid-template-columns: repeat(5, 18.6%);
		            -webkit-grid-rows: repeat(2, 340px);
		            -ms-grid-rows: 340px 340px;
		                grid-template-rows: repeat(2, 340px);
				}
			}

			@include media-breakpoint-up(md) {
				@include media-breakpoint-down(lg) {
					-webkit-grid-columns: 31.5% 31.5% 31.5%;
					-ms-grid-columns: 31.5% 31.5% 31.5%;
						grid-template-columns: 31.5% 31.5% 31.5%;
				}
			}

			@include media-breakpoint-up(lg) {
				@include media-breakpoint-down(lg) {
		            -webkit-grid-rows: repeat(2, 500px);
		            -ms-grid-rows: 500px 500px;
		                grid-template-rows: repeat(2, 500px);
				}
			}

			@include media-breakpoint-up(md) {
				@include media-breakpoint-down(md) {
		            -webkit-grid-rows: repeat(2, 420px);
		            -ms-grid-rows: 420px 420px;
		                grid-template-rows: repeat(2, 420px);
				}
			}

			.section-header {
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}

            .product {

				&:nth-child(2) {
					 -ms-grid-column: 1;
					 -ms-grid-row: 2;
				}

				&:nth-child(3) {
					-ms-grid-column: 2;
					-ms-grid-column-span: 2;
					-ms-grid-row: 1;
					-ms-grid-row-span: 2;
				}

				&:nth-child(4) {
					-ms-grid-column: 4;
					-ms-grid-row: 1;
				}

				&:nth-child(5) {
					-ms-grid-column: 4;
					-ms-grid-row: 2;
				}

				&:nth-child(6) {
					-ms-grid-column: 5;
					-ms-grid-row: 1;
					-ms-grid-row-span: 2;
				}

                &:nth-child(6) {
					@include media-breakpoint-up(xxl) {
						min-width: 332px;
					}
                }

                &:nth-child(3) {
					.hover-area {
						@include media-breakpoint-up(xxl) {
							padding: 0 160px 15px;
						}
					}

					@include media-breakpoint-up(md) {
						@include media-breakpoint-down(lg) {
							-webkit-grid-column: span 1;
		                    -ms-grid-column: 1;
		                        grid-column: span 1;
						}
					}

                    .woocommerce-LoopProduct-link img {
						@include media-breakpoint-up(xxl) {
							max-width: 630px;
						}
                    }
                }
            }
        }
    }

    .row-2 {
        .products {
            .product {
				&:first-child {
					-ms-grid-column: 1;
					-ms-grid-column-span: 2;
					-ms-grid-row: 1;
				}

				&:last-child {
					-ms-grid-column: 4;
					-ms-grid-column-span: 2;
					-ms-grid-row: 1;
				}

				&:nth-child(2) {
					-ms-grid-column: 3;
					-ms-grid-row: 1;
				}

                &:first-child,
                &:last-child {
                    -webkit-grid-column: span 2;
                        grid-column: span 2;

					@include media-breakpoint-up(md) {
			            @include media-breakpoint-down(lg) {
							-webkit-grid-column: span 1;
		                        grid-column: span 1;
						}
					}

                    .hover-area {
						@include media-breakpoint-up(xxl) {
							padding: 0 160px 15px;
						}
                    }
                }
            }
        }
    }

    .row-2,
    .row-3 {
        .products {
            -webkit-grid-columns: repeat(5, 332px);
            -ms-grid-columns: 332px 332px 332px 332px 332px;
                grid-template-columns: repeat(5, 332px);
            -ms-grid-column-gap: 20px;
            -webkit-grid-column-gap: 20px;
                grid-column-gap: 20px;
			-ms-grid-rows: 384px;
            -webkit-grid-template-rows: 384px;
                grid-template-rows: 384px;

			@include media-breakpoint-up(xl) {
	            @include media-breakpoint-down(xl) {
					-webkit-grid-columns: repeat(5, auto);
		            -ms-grid-columns: auto auto auto auto auto;
		                grid-template-columns: repeat(5, auto);
					-ms-grid-rows: 320px;
		            -webkit-grid-template-rows: 320px;
		                grid-template-rows: 320px;
				}
			}

			@include media-breakpoint-up(md) {
				@include media-breakpoint-down(lg) {
					-webkit-grid-columns: 31.5% 31.5% 31.5%;
					-ms-grid-columns: 31.5% 31.5% 31.5%;
						grid-template-columns: 31.5% 31.5% 31.5%;
					-ms-grid-rows: 420px;
					-webkit-grid-template-rows: 420px;
						grid-template-rows: 420px;
				}
			}

			@include media-breakpoint-up(lg) {
				@include media-breakpoint-down(lg) {
					-ms-grid-rows: 510px;
					-webkit-grid-template-rows: 510px;
						grid-template-rows: 510px;
				}
			}
        }
    }

	.row-2 {
        .products {
			@include media-breakpoint-up(xl) {
	            @include media-breakpoint-down(xl) {
					-ms-grid-rows: 400px;
		            -webkit-grid-template-rows: 400px;
		                grid-template-rows: 400px;

					.woocommerce-LoopProduct-link {
	                    img {
							max-width: 270px;
	                    }
	                }
				}
			}
		}
	}

	.row-3 {
        .products {
            .product {
				-ms-grid-row: 1;

				&:nth-child(1) {
					-ms-grid-column: 1;
				}

				&:nth-child(2) {
					-ms-grid-column: 2;
				}

				&:nth-child(3) {
					-ms-grid-column: 3;
				}

				&:nth-child(4) {
					-ms-grid-column: 4;
				}

				&:nth-child(5) {
					-ms-grid-column: 5;
				}
			}
		}
	}
}

@supports (-ms-accelerator:true) {
	.section-products-isotope {
	    .row-1 {
	        .products {
	            .product {
	                margin-right: 20px;

	                &:nth-child(4) {
	                    margin-bottom: 20px;
	                }
	            }
	        }
	    }
	}
}
