.jumbotron {
	border: 2px solid #eeeeee;
    border-radius: 5px;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 3.125em;
    position: relative;

    @media (max-width: 767px) {
	    display: flex;
    	flex-direction: column-reverse;
    }

    .jumbotron-img img {
	    width: 100%;
		height: 100%;
		float: none;
		margin: 0px;
		
		@media (max-width: 767px) {
		    height: inherit;		
			position: absolute;
			top: 0px;
    		z-index: 1;
    	}
    }

	.jumbotron-caption {
		    position: absolute;
		    top: 15.6%;
		    width: 62%;
		    left: 3.4%;

		    @media (max-width: 1024px) and (min-width: 768px) {
			    top: 5%;
			    width: 70%;
			    left: 2.4%;
			}

			@media (max-width: 1589px) and (min-width: 1025px) {
			    width: 69%;
			}	

			@media (max-width: 767px) {
			    z-index: 2;
			    padding: 15px;
		        position: initial;
	            width: 100%;
			}	    	

	    h3 {
	    	font-size: 2.250em;
	    	color: #444444;
	    	margin: 0px 0px 1em;
	   	    text-transform: capitalize;

	   	    @media (max-width: 1589px) and (min-width: 768px) {
		        font-size: 1em;
			}

			@media (max-width: 767px) {
			    font-size: 0.875em;
			}
	   	}    

	    p.jumbo-subtitle {
	    	font-size: 1em;
	    	color: #555353;
	    	line-height: 1.5em;
	   	    padding-left: 0.25em;
			word-break: break-all;
			font-weight: 300;

			@media (max-width: 1024px) and (min-width: 768px) {
	            line-height: 1.2;
			}

			@media (max-width: 1589px) and (min-width: 768px) {
		        font-size: 0.813em;
			}

			@media (max-width: 767px) {
			    font-size: 0.750em;
    			word-break: break-word;
			}

			a {
				color: #242424;
				text-transform: uppercase;
			    font-size: 0.813em;
			    font-weight: normal;
			    padding-top: 2.538em;
    			display: block;

    			@media (max-width: 1024px) and (min-width: 768px) {
		            padding-top: 0.476em;
				}

				@media (max-width: 1589px) and (min-width: 1025px) {
				    padding-top: 2em;
				}

				@media (max-width: 767px) {
			        padding-top: 1.538em;
				}

			    i {
			    	font-size: 2.385em;
		    	    margin-left: 0.452em;
			    }
			}
	    }
	}
}


