/**
 * Mobile-Menu
 */
.sticky-wrapper {
    .techmarket-sticky-wrap.stuck {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        //padding: 20px 15px;
        background-color: #fff;
        z-index: 9999;
        box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.66);

        &.faster {
            animation-duration: 0.25s;
        }

        @include media-breakpoint-up(md) {
            .secondary-navigation .nav>li {
                padding-bottom: 0;
            }

            .site-branding {
                margin-bottom: 0;
            }

            .navbar-primary .yamm .yamm-fw>.dropdown-menu, .primary-navigation .yamm .yamm-fw>.dropdown-menu {
                padding: 0;
            }

            .navbar-primary .nav > .menu-item-has-children>.dropdown-menu,
            .primary-navigation .nav > .menu-item-has-children>.dropdown-menu {
                top: 50px;
            }

            .navbar-primary .nav > .menu-item-has-children.yamm-fw>.dropdown-menu,
            .primary-navigation .nav > .menu-item-has-children.yamm-fw>.dropdown-menu {
                top: 70px;
            }
        }

        @include media-breakpoint-up(md) {
            @include media-breakpoint-down(lg) {
                .secondary-navigation {
                    margin-bottom: 0;
                }
            }
        }

        > .row {
            padding: 20px 15px;

            @media (min-width: 1025px)  {
                padding: 20px 15px 15px;
            }
        }
    }
}

.admin-bar {
    .handheld-navigation > .handheld-navigation-menu {
        padding-top: 32px;

        @include media-breakpoint-down(md) {
            padding-top: 46px;
        }
    }

    .sticky-wrapper {
        .techmarket-sticky-wrap.stuck {
            @include media-breakpoint-up(lg) {
                padding-top: 32px;
                .navbar-primary .nav > .menu-item-has-children>.dropdown-menu,
                .primary-navigation .nav > .menu-item-has-children>.dropdown-menu {
                    top: 50px;
                }

                .navbar-primary .nav > .menu-item-has-children.yamm-fw>.dropdown-menu,
                .primary-navigation .nav > .menu-item-has-children.yamm-fw>.dropdown-menu {
                    top: 100px;
                }
            }
        }
    }

    .handheld-header {
        .sticky-wrapper {
            .techmarket-sticky-wrap.stuck {
                @include media-breakpoint-up(md) {
                    @include media-breakpoint-down(md) {
                        padding-top: 46px;
                    }
                }
            }
        }
    }
}

.handheld-navigation {
    > .handheld-navigation-menu {
        background-color: #333e48;
        position: fixed;
        top: 0;
        left: -80%;
        width: 80%;
        height: 100%;
        transition: left 0.2s;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transition: left 0.2s;
        z-index: 10000;
        display: block !important;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        text-align: left;

        > .nav {
            flex-direction: column;

            > li > a {
                font-weight: 500;
            }
        }

        a {
            color: #fff;
        }
    }

    &.toggled > .handheld-navigation-menu {
        left: 0;
    }

    .tmhm-close {
        display: block;
        background-color: rgba(0,0,0,.5);
        cursor: pointer;
        color: #fff;
        overflow: hidden;
        font-weight: bold;
        padding: .857em 1.387em;
        border-bottom: 1px solid rgba(255,255,255,.2);

        &:before {
            font-family: "techmarket-icons";
            font-weight: 400;
            content: "\43";
            margin-right: 1em;
            display: inline-block;
        }
    }

    .yamm .dropdown.yamm-fw .dropdown-menu {
        position: relative;
    }

    .nav-title, .widgettitle, .widget-title {
        font-weight: 500;
        margin-bottom: 0;
    }

    .nav-divider {
        display: none;
    }

    .yamm-content {
        padding: dir-values(0 0 1em 0);

        .vc_row {margin: 0;}

        ul li {
            margin-bottom: 0;

            a {
                padding: .4em 1.387em;
            }
        }

        ul.menu .nav-title a, ul .widgettitle a, ul .widget-title a,
        ul:not(.menu) .nav-title {
            padding: .857em 1em .4em 1em;
            color: #fff;
        }

        ul:not(.menu) {
            padding-left: 1.387em;

            .nav-title {
                font-size: 15px;

                a {
                    padding: 0;
                    color: #fff;
                }
            }
        }

        img {
            padding-bottom: 20px;
            border-radius: 0;
            padding-top: 10px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            &.menu-item-has-children.open.show::after,
            &.menu-item-has-children.open > a::after,
            &.menu-item-has-children.show::after,
            &.menu-item-has-children > a::after {
                font-family: "FontAwesome";
                color: #fff;
                float: right;
                border: none;
            }

            &.menu-item-has-children > a::after {
                content: "\f055";
            }

            &.menu-item-has-children.show > a::after {
                content: "\f056";
            }

            &.menu-item-has-children.open .dropdown-backdrop {
                display: none;
            }

            &.menu-item-has-children a::after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-right: .25rem;
                margin-left: .25rem;
                vertical-align: middle;
                border: none;
            }

            a {
                padding: .857em 1.387em;
                display: inline-block;
                width: 100%;
                color: #fff;

                i {
                    margin-right: 10px;
                }
            }

            &.sale-clr a{
                color: #fe6f6f;
            }

            > ul {
                border-radius: 0;

                &::after,&::before {
                    bottom: 100%;
                    right: 10px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;

                    border-color: rgba(72, 72, 72, 0);
                    border-bottom-color: darken(#333e48, 20%);
                    border-width: 7px;
                    margin-left: -7px;
                }
            }

            ul {
                li a {color: #c7c7c7;}
            }
        }

        .bg-yamm-content {
            display: none;
        }

        .dropdown-menu {
            position: relative;
            background-color: darken(#333e48, 20%);
            width: 100%;
            transition: all .3s ease;
            border: none;

            li a{
                padding-left: 2.188em;
                color: #b2b2b2;
            }

            .yamm-content li a {
                padding-left: 1.387em;
                font-size: 15px;
            }

            .dropdown-menu {
                background-color: darken(#333e48, 8%);

                &::after,&::before {
                    border-bottom-color: darken(#333e48, 8%);
                }

                .dropdown-menu {
                    background-color: darken(#333e48, 4%);

                    &::after,&::before {
                        border-bottom-color: darken(#333e48, 4%);
                    }
                }
            }
        }

        > li.open > a ul ul{
            background-color: darken(#333e48, 20%);
        }
    }
}

.admin-bar {
    .handheld-navigation > .dropdown-menu{
        padding-top: 46px;
    }
}
