.secondary-navigation {
    font-size: 0.933em;

    .nav {
        align-items: center;
        padding: 0;
        margin: 0;
        display: block;
        text-align: right;

        @include media-breakpoint-down(xl) {
            display: block;
        }

        > li + li {
    		&::before {
    			content: '|';
                font-size: 12px;
    			color: #cad5d5;
    			display: inline-block;
    			margin: 0 1.457em;
    		}
    	}

        > li {
            padding-bottom: 0.715em;
            line-height: 2.081em;
            display: inline-block;

            i {
                padding-right: .5em;
            }

            .tm-order-tracking {
                font-size: 1.286em;
            }

            .tm-dollar {
                font-size: 0.857em;
            }

            .tm-login-register {
                font-size: 0.929em;
            }

            a {
                color: #444;

                &:hover,
                &:focus,
                &:active {
                    color: #555;
                }
            }

            ul {
                a::before {
                    display: none;
                }
            }
        }

        .show>.dropdown-menu {
            left: 28px;
        }

        .dropdown-menu {
            padding: 0.875em;
            width: 140px;
            border-radius: 0;
            border-top-width: 2px;

            li + li {
                padding-top: 0.625em;
            }

            li a {
                width: 100%;
                font-size: 0.875em;
                display: block;
            }
        }

        .techmarket-flex-more-menu-item {
            position: relative;

            li {
                position: relative;
            }

            &::before {
                content: " ";
                margin: 0 .5em;
            }

            &.show>.dropdown-menu {
                left: auto;
                right: 0;
                min-width: 200px;
                text-align: center;
            }

            > a {
                // color: transparent;
                position: relative;
                display: inline-block;
                transform: rotate(-90deg);
                font-size: 20px;
                font-weight: 500;
                line-height: 1;

                &::after {
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 86%;
                    line-height: 1;
                    margin: 0;
                    transform: translate(-50%, -50%);
                    padding: 7.5px 10.18px;
                    border-radius: 50px;
                    display: none;
                }
            }
        }
    }
}

.user-logged-in {
    .secondary-navigation {
        .not-logged-in {
            display: none;
        }
    }
}
