.homev5-slider-with-banners,
.homev3-slider-with-banners,
.slider-with-banners {
    .slider,
    .column-1-slider-block {
        @include make-col-ready;
        @include media-breakpoint-up(xxl) {
            @include make-col(9);
        }

        @include media-breakpoint-down(lg) {
            padding: 0;
        }
    }

    .column-2-banners-block,
    .column-2 {
        @include make-col-ready;
        @include media-breakpoint-up(xxl) {
            @include make-col(3);
        }
    }
}

.homev6-slider-with-banners {
    .column-1 {
        @include make-col-ready;
        @include media-breakpoint-up(xxl) {
            @include make-col(6.8);
        }
    }

    .column-2{
        @include make-col-ready;
        @include media-breakpoint-up(xxl) {
            @include make-col(5.2);
        }
        padding-left: 1em;
    }
}

.homev12-slider-with-banners {
    .column-1 {
        @include make-col-ready;
        @include media-breakpoint-up(xxl) {
            @include make-col(8);
        }
    }

    .column-2 {
        @include make-col-ready;
        @include media-breakpoint-up(xxl) {
            @include make-col(4);
        }
    }
}

.slider-with-banners {
    .slider,
    .slider-block {
        @include media-breakpoint-up(xxl) {
            @include make-col(7);
        }

        @include media-breakpoint-down(lg) {
            padding: 0;
            margin-bottom: 20px;
        }

        @include media-breakpoint-up(xxl) {
            @include make-col-offset(2);
        }

        @include media-breakpoint-up(xl) {
            @include media-breakpoint-down(xl) {
                @include make-col-offset(3);
                @include make-col(9);
                margin-bottom: 30px;
            }
        }
    }

    .banners-block {
        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        @include media-breakpoint-up(xl) {
            @include media-breakpoint-down(xl) {
                @include make-col-offset(3);
                @include make-col(9);
            }
        }

        @include media-breakpoint-up(md) {
            @include media-breakpoint-down(xl) {
                display: flex;
            }
        }
    }
}
