.wcmp_regi_main {
  margin: auto; }
  @media (min-width: 1200px) {
    .wcmp_regi_main {
      flex: 0 0 50%;
      max-width: 50%; } }
  .wcmp_regi_main .register h2 {
    color: #090909;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb; }
  .wcmp_regi_main .register .wcmp_regi_form_box {
    box-shadow: none; }
    .wcmp_regi_main .register .wcmp_regi_form_box h3.reg_header2 {
      color: #444;
      border: 0px; }
    .wcmp_regi_main .register .wcmp_regi_form_box label {
      color: #444;
      font-size: 16px;
      font-weight: 500; }
    .wcmp_regi_main .register .wcmp_regi_form_box input {
      padding: 9px;
      background-color: #fff;
      color: #444;
      outline: 0;
      -webkit-appearance: none;
      border-radius: 3px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 1em;
      border: 1px solid #ebebeb; }
  .wcmp_regi_main .register p.woocomerce-FormRow input {
    font-size: .938em;
    padding: .867em 4em;
    border-radius: 1.667em;
    height: auto;
    line-height: 1; }
  .wcmp_regi_main .register .register-benefits {
    padding: 20px 15px 0px 15px; }
    .wcmp_regi_main .register .register-benefits h3 {
      font-size: 1.125em;
      font-weight: 500;
      line-height: 1.444em; }
    .wcmp_regi_main .register .register-benefits ul {
      margin: 0;
      list-style: none; }
      .wcmp_regi_main .register .register-benefits ul > li {
        line-height: 2.143em;
        font-weight: 300; }
        .wcmp_regi_main .register .register-benefits ul > li::before {
          content: "\f00c";
          color: #5bb300;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 1.143em;
          display: inline-block;
          margin-right: 1em; }

.wcmp_main_page {
  border: 0px;
  box-shadow: none; }
  .wcmp_main_page .wcmp_side_menu {
    border: 0px;
    background: transparent; }
    .wcmp_main_page .wcmp_side_menu .wcmp_main_menu li {
      border-right: 0px; }
      .wcmp_main_page .wcmp_side_menu .wcmp_main_menu li:last-child {
        border-top: 1px solid #e0e0e0; }
      .wcmp_main_page .wcmp_side_menu .wcmp_main_menu li a {
        background: transparent; }
        .wcmp_main_page .wcmp_side_menu .wcmp_main_menu li a.active, .wcmp_main_page .wcmp_side_menu .wcmp_main_menu li a:hover {
          color: #2c2d33; }
  .wcmp_main_page .wcmp_main_holder .wcmp_vendor_dashboard_content .wcmp_table_holder table {
    border: 0px; }
    .wcmp_main_page .wcmp_main_holder .wcmp_vendor_dashboard_content .wcmp_table_holder table tr td {
      border: none;
      background-color: #f5f5f5;
      color: #444; }

.products .product a.by-vendor-name-link {
  font-size: 80%;
  color: #626060;
  padding: 4px 0px; }

.single-product .product .woocommerce-tabs .woocommerce-Tabs-panel--vendor .product-vendor h2 {
  font-size: 1.5em; }
