@charset "UTF-8";

@font-face {
  font-family: "techmarket-icons";
  src:url("../fonts/techmarket-icons.eot");
  src:url("../fonts/techmarket-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/techmarket-icons.woff") format("woff"),
    url("../fonts/techmarket-icons.ttf") format("truetype"),
    url("../fonts/techmarket-icons.svg#techmarket-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "techmarket-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tm-"]:before,
[class*=" tm-"]:before {
  font-family: "techmarket-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm {
    display: inline-block;
    font: normal normal normal 16px/1 techmarket-icons;
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tm-accesories:before {
  content: "\4a";
}
.tm-smartphone:before {
  content: "\4b";
}
.tm-shopping-bag:before {
  content: "\61";
}
.tm-grid:before {
  content: "\62";
}
.tm-best-brands:before {
  content: "\63";
}
.tm-arrow-up:before {
  content: "\64";
}
.tm-arrow-right:before {
  content: "\65";
}
.tm-arrow-left-products-header:before {
  content: "\66";
}
.tm-arrow-left:before {
  content: "\67";
}
.tm-arrow-down:before {
  content: "\68";
}
.tm-digital-camera:before {
  content: "\69";
}
.tm-dollar:before {
  content: "\6a";
}
.tm-favorites:before {
  content: "\6b";
}
.tm-feedback:before {
  content: "\6c";
}
.tm-free-delivery:before {
  content: "\6d";
}
.tm-arrow-right-products-header:before {
  content: "\6e";
}
.tm-free-return:before {
  content: "\6f";
}
.tm-safe-payments:before {
  content: "\70";
}
.tm-order-tracking:before {
  content: "\71";
}
.tm-newsletter:before {
  content: "\72";
}
.tm-map-marker:before {
  content: "\73";
}
.tm-long-arrow-right:before {
  content: "\74";
}
.tm-long-arrow-left:before {
  content: "\75";
}
.tm-login-register:before {
  content: "\76";
}
.tm-desktop-pc:before {
  content: "\77";
}
.tm-grid-small:before {
  content: "\78";
}
.tm-breadcrumbs-arrow-right:before {
  content: "\79";
}
.tm-call-us-footer:before {
  content: "\7a";
}
.tm-laptop:before {
  content: "\41";
}
.tm-listing:before {
  content: "\42";
}
.tm-close:before {
  content: "\43";
}
.tm-compare:before {
  content: "\44";
}
.tm-listing-large:before {
  content: "\45";
}
.tm-listing-small:before {
  content: "\46";
}
.tm-departments-thin:before {
  content: "\47";
}
