.wcmp_regi_main {
	@include media-breakpoint-up(xl) {
		@include make-col(6);
	}

	margin:auto;

	.register {
		
		h2 {
		    color: #090909;
		    padding-bottom: 10px;
			border-bottom: 1px solid #ebebeb;
		}

		.wcmp_regi_form_box {
		    box-shadow: none;

		    h3.reg_header2 {
		    	color: #444;
		    	border: 0px;
		    }

		    label {
	    	    color: #444;
			    font-size: 16px;
			    font-weight: 500;
		    }

			input {
	    	    padding: 9px;
			    background-color: #fff;
			    color: #444;
			    outline: 0;
			    -webkit-appearance: none;
			    border-radius: 3px;
			    box-sizing: border-box;
			    font-weight: 400;
			    font-size: 1em;
			    border: 1px solid #ebebeb;
		    }
		}

		p.woocomerce-FormRow {
			input {
			    font-size: .938em;
			    padding: .867em 4em;
			    border-radius: 1.667em;
			    height: auto;
			    line-height: 1;
			}
		}

		.register-benefits {
			padding: 20px 15px 0px 15px;

		    h3 {
		    	font-size: 1.125em;
			    font-weight: 500;
			    line-height: 1.444em;
			}

			ul {
				margin: 0;
				list-style: none;

				> li {
					line-height: 2.143em;
					font-weight: 300;

					&::before {
						content: "\f00c";
						color: #5bb300;
						@include fa-icon();
						font-size: 1.143em;
						display: inline-block;
						margin-right: 1em;
					}
				}
			}
		}
	}
}

.wcmp_main_page {
	border: 0px;
    box-shadow: none;

	.wcmp_side_menu {
	    border: 0px;
		background: transparent;

		.wcmp_main_menu {
			li {
				border-right: 0px;

				&:last-child {
					border-top: 1px solid #e0e0e0;
				}

				a {
					background: transparent;

    				&.active,
    				&:hover {
    					color: #2c2d33;
    				}
				}
			}
		}
	}

	.wcmp_main_holder .wcmp_vendor_dashboard_content {
		.wcmp_table_holder table {
		    border: 0px;

		    tr td {
		    	border: none;
    			background-color: #f5f5f5;
    			color: #444;
		    }
		}
	}
}

.products .product {
	a.by-vendor-name-link {
		font-size: 80%;
	    color: #626060;
	    padding: 4px 0px;
	}
}

.single-product {
	.product .woocommerce-tabs {
		.woocommerce-Tabs-panel--vendor .product-vendor {
			h2 {
			    font-size: 1.5em;
			}
		}
	}
}