.show_if_seller {
	display: flex;
	flex-wrap: wrap;
}

.split-row {
	display: flex;
	flex-wrap: wrap;

	> .form-row {
		@include make-col(6);

		&:first-child {
			padding-left: 0;
		}

		& + .form-row {
			padding-right: 0;
		}
	}
}

.user-role {
	margin-top: 20px;
}

select.dokan-form-control {
	height: 45px;
}

.dokan-seller-listing .dokan-seller-search-form input#search {
	width: 100%;
	height: 52px;
}

// .dokan-seller-listing .dokan-seller-search-form input::-webkit-input-placeholder,
// .dokan-seller-listing .dokan-seller-search-form input:-ms-input-placeholder,
// .dokan-seller-listing .dokan-seller-search-form input::-ms-input-placeholder,
// .dokan-seller-listing .dokan-seller-search-form input::-moz-placeholder,
.dokan-seller-listing .dokan-seller-search-form input::placeholder {
	font-size: 14px;
}

.woocommerce-Tabs-panel--seller {
	ul {
		margin-left: 0;
		li + li {
			margin-top: 14px;
		}

		li {
			span {
				font-weight: 500;
				display: inline-block;
			}

			.details {
				margin-left: 4px;
				font-weight: 400;
				font-size: 15px;
			}
		}
	}
}

.dokan-seller-search {
	padding: 1em !important;
	background: none !important;
}

.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info-head .profile-img.profile-img-circle img {
	margin: auto;
}

.dokan-dashboard {
	.dokan-dashboard-wrap {
		background-color: #f9f9f9;
	}

	.dokan-form-group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		@include make-col-ready;
		@include make-col(12);

		label {
			font-weight: 400;
			line-height: 1.5em;
			letter-spacing: -.01em;
			color: #626060;
			text-align: left;
			margin-bottom: .5em;

			& + div label {
				font-size: 14px;
			}
		}

		.dokan-pro-gravatar-drag {
			padding: 14px 50px;
		}

		div {
			width: 100%;
		}

		.dokan-text-left {
			margin-left: 0 !important;
		}

		.dokan-form-group {
			padding: 0;
		}
	}

	.dokan-dash-sidebar ul.dokan-dashboard-menu {
		margin-bottom: 0;

		li.active:after {
			left: auto;
			right: 0;
			border-color: transparent #f9f9f9 transparent transparent;
		}
	}

	.dokan-dashboard-content {
		padding: 26px 20px;
	}

	header.dokan-dashboard-header h1,
	.edit-account-wrap h1{
		font-size: 30px;
	}

	.edit-account {
		.form-row {
			@include make-col(12);
		}

		label {
			font-weight: 400;
			line-height: 1.5em;
			letter-spacing: -.01em;
			color: #626060;
			text-align: left;
			margin-bottom: .5em;
		}

		legend {
			font-size: 30px;
			margin:0 15px 10px 15px;
		    border-bottom: 1px solid #ededed;
		    padding: 0 0 10px 0;
			line-height: 1.214;
    		letter-spacing: -1px;
		}

		.dokan-btn {
			margin-left: 15px;
		}
	}

	.dokan-dashboard-content .edit-account fieldset legend {
		font-weight: 500;
	}

	.edit-account-wrap h1 {
		margin:0 15px 10px 15px;
	    border-bottom: 1px solid #ededed;
	    padding: 0 0 10px 0;
	}

	.dokan-settings-content {
		.dokan-settings-area {
			.dokan-banner {
				width: 100%;
				max-width: 100%;
				margin: 0 0 40px;
			}
		}
	}

	.dokan-dashboard-content {
		article.dashboard-content-area {
			.dashboard-widget.big-counter li:last-child .count {
				border-bottom: none;
			}

			.dashboard-widget {
				.widget-title {
					font-weight: 500;
					font-size: 18px;

					& + .list-unstyled {
						margin-left: 10px;
					}
				}

				a {
					font-size: 14px;
				}

				.chart-placeholder.main .legend > div {
					background-color: transparent !important;
				}
			}
		}

		.dokan-orders-area {
			.order-statuses-filter {
				margin-left: 0;
			}

			.dokan-left {
				.dokan-form-group {
					display: flex;
					flex-direction: row;
					align-items: stretch;

					label {
						margin-bottom: 0;
						align-self: center;
						margin-right: 8px;
					}

					input[type=text] {
						margin-right: 6px;
					}
				}
			}

			.dokan-right {
				.dokan-form-group {
					padding: 0;
					display: block;
				}
			}
		}

		.dokan-product-listing-area {
			.dokan-product-search-form {
				display: flex;
    			justify-content: flex-end;
				padding-left: 15px;

				.dokan-btn {
					order: 3;
				}
			}

			.dokan-form-group {
				margin-bottom: 0;
				display: block;
				flex: auto;
				padding: 0;
			}

			.dokan-product-date-filter {
				display: flex;
			}
		}
	}
}

.dashboard-widget {
	margin: 0;
	display: block;
}
