.show_if_seller {
  display: flex;
  flex-wrap: wrap; }

.split-row {
  display: flex;
  flex-wrap: wrap; }
  .split-row > .form-row {
    flex: 0 0 50%;
    max-width: 50%; }
    .split-row > .form-row:first-child {
      padding-left: 0; }
    .split-row > .form-row + .form-row {
      padding-right: 0; }

.user-role {
  margin-top: 20px; }

select.dokan-form-control {
  height: 45px; }

.dokan-seller-listing .dokan-seller-search-form input#search {
  width: 100%;
  height: 52px; }

.dokan-seller-listing .dokan-seller-search-form input::placeholder {
  font-size: 14px; }

.woocommerce-Tabs-panel--seller ul {
  margin-left: 0; }
  .woocommerce-Tabs-panel--seller ul li + li {
    margin-top: 14px; }
  .woocommerce-Tabs-panel--seller ul li span {
    font-weight: 500;
    display: inline-block; }
  .woocommerce-Tabs-panel--seller ul li .details {
    margin-left: 4px;
    font-weight: 400;
    font-size: 15px; }

.dokan-seller-search {
  padding: 1em !important;
  background: none !important; }

.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info-head .profile-img.profile-img-circle img {
  margin: auto; }

.dokan-dashboard .dokan-dashboard-wrap {
  background-color: #f9f9f9; }

.dokan-dashboard .dokan-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 576px) {
    .dokan-dashboard .dokan-form-group {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .dokan-dashboard .dokan-form-group {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .dokan-dashboard .dokan-form-group {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1200px) {
    .dokan-dashboard .dokan-form-group {
      padding-right: 15px;
      padding-left: 15px; } }
  .dokan-dashboard .dokan-form-group label {
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: -.01em;
    color: #626060;
    text-align: left;
    margin-bottom: .5em; }
    .dokan-dashboard .dokan-form-group label + div label {
      font-size: 14px; }
  .dokan-dashboard .dokan-form-group .dokan-pro-gravatar-drag {
    padding: 14px 50px; }
  .dokan-dashboard .dokan-form-group div {
    width: 100%; }
  .dokan-dashboard .dokan-form-group .dokan-text-left {
    margin-left: 0 !important; }
  .dokan-dashboard .dokan-form-group .dokan-form-group {
    padding: 0; }

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu {
  margin-bottom: 0; }
  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after {
    left: auto;
    right: 0;
    border-color: transparent #f9f9f9 transparent transparent; }

.dokan-dashboard .dokan-dashboard-content {
  padding: 26px 20px; }

.dokan-dashboard header.dokan-dashboard-header h1,
.dokan-dashboard .edit-account-wrap h1 {
  font-size: 30px; }

.dokan-dashboard .edit-account .form-row {
  flex: 0 0 100%;
  max-width: 100%; }

.dokan-dashboard .edit-account label {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: -.01em;
  color: #626060;
  text-align: left;
  margin-bottom: .5em; }

.dokan-dashboard .edit-account legend {
  font-size: 30px;
  margin: 0 15px 10px 15px;
  border-bottom: 1px solid #ededed;
  padding: 0 0 10px 0;
  line-height: 1.214;
  letter-spacing: -1px; }

.dokan-dashboard .edit-account .dokan-btn {
  margin-left: 15px; }

.dokan-dashboard .dokan-dashboard-content .edit-account fieldset legend {
  font-weight: 500; }

.dokan-dashboard .edit-account-wrap h1 {
  margin: 0 15px 10px 15px;
  border-bottom: 1px solid #ededed;
  padding: 0 0 10px 0; }

.dokan-dashboard .dokan-settings-content .dokan-settings-area .dokan-banner {
  width: 100%;
  max-width: 100%;
  margin: 0 0 40px; }

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter li:last-child .count {
  border-bottom: none; }

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .widget-title {
  font-weight: 500;
  font-size: 18px; }
  .dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .widget-title + .list-unstyled {
    margin-left: 10px; }

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget a {
  font-size: 14px; }

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .chart-placeholder.main .legend > div {
  background-color: transparent !important; }

.dokan-dashboard .dokan-dashboard-content .dokan-orders-area .order-statuses-filter {
  margin-left: 0; }

.dokan-dashboard .dokan-dashboard-content .dokan-orders-area .dokan-left .dokan-form-group {
  display: flex;
  flex-direction: row;
  align-items: stretch; }
  .dokan-dashboard .dokan-dashboard-content .dokan-orders-area .dokan-left .dokan-form-group label {
    margin-bottom: 0;
    align-self: center;
    margin-right: 8px; }
  .dokan-dashboard .dokan-dashboard-content .dokan-orders-area .dokan-left .dokan-form-group input[type=text] {
    margin-right: 6px; }

.dokan-dashboard .dokan-dashboard-content .dokan-orders-area .dokan-right .dokan-form-group {
  padding: 0;
  display: block; }

.dokan-dashboard .dokan-dashboard-content .dokan-product-listing-area .dokan-product-search-form {
  display: flex;
  justify-content: flex-end;
  padding-left: 15px; }
  .dokan-dashboard .dokan-dashboard-content .dokan-product-listing-area .dokan-product-search-form .dokan-btn {
    order: 3; }

.dokan-dashboard .dokan-dashboard-content .dokan-product-listing-area .dokan-form-group {
  margin-bottom: 0;
  display: block;
  flex: auto;
  padding: 0; }

.dokan-dashboard .dokan-dashboard-content .dokan-product-listing-area .dokan-product-date-filter {
  display: flex; }

.dashboard-widget {
  margin: 0;
  display: block; }
