table.table-vendor-sales-report {	    
	thead tr th {
		font-weight: 400;
		font-size: 0.938em;
	}
	
	tbody tr td {
		padding-top: 10px;
	}	
}

.products .product {
	small.wcvendors_sold_by_in_loop {
		font-size: 80%;
		color: #626060;
	    padding: 4px 0px;

		a {
			color: #626060;
		}
	}
}

.entry-content {
	&>hr {
	    height: 0px;
	}

	form p{
		input[type=date] {
			padding: 3px;
		    color: #444;
		    border-radius: 3px;
		    font-weight: 400;
		    font-size: 1em;
		    border: 1px solid #ebebeb;
	        margin-right: 10px;
	        margin-left: 10px;
		}
	}

	center p a {
		&:focus,
		&:active,
		&:visited {
			color: #fff;
		}
	}
}
