.homev6-slider-with-banners,
.homev12-slider-with-banners {
	margin-bottom: 1.625em;

	.banners-block {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
		-moz-column-gap: 20px; /* Firefox */
		column-gap: 20px;
		

		.banner-bg {
			padding-left: 1.188em;

			.price {
				.start_price {
					font-size: .8em;
					color: #444444;
					padding-right: 0.313em;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
	}

	@include media-breakpoint-up(xxl) {
		.home-v6-slider{
		    width: 810px;
		}
	}

	@include media-breakpoint-down(xl) {
		.home-v6-slider,
		.home-v12-slider {
			margin-bottom: 20px;
		}
	}
}

.page-template-template-homepage-v6 {
	.section-categories-carousel {
		&.section-top-categories {
			margin-bottom: 0;
			padding-bottom: 2.375em;

			.section-header {
				margin-bottom: 0px;
				padding-top: 1.188em;

				.section-title {
				    margin-bottom: 0.733em;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			.custom-slick-nav {
				justify-content: center;
			}
		}
	}

	.section-single-carousel-with-tab-product {
		.row {
			@include media-breakpoint-up(md) {
				margin-bottom: -4.750em;
			}
		}

		&::after,
		&::before {
			content: " ";
			display: table;
		}

		&:hover {
			z-index: 10;
			position: relative;
		}

		& + section {
			z-index: 9;
		}

		.products {
			.product {
				img {
					margin: 0 0 0.6em;
				}

				.button,.added_to_cart,
				.star-rating + .button,.added_to_cart {
					margin-top: 0;
				}

				&.slick-active {
					&:after {
						height: 220px;
						top: 42px;
						transform:none;
					}
				}
			}
		}
	}

	.section-products-carousel {
		@include media-breakpoint-down(sm) {
			overflow: hidden;
		}
	}

	.section-products-carousel-with-bg {
		margin-bottom: 3.5em;

		@include media-breakpoint-up(md) {
			@include media-breakpoint-down(lg) {
				margin-left: -15px;
			}
		}

		.section-title {
			font-weight: 500;
			line-height: 1.143em;
			margin: 0 0 0.786em;
		}

		.section-header {
			@include media-breakpoint-up(xl) {
				@include make-col(2.3);
				padding-left: 0;
				padding-right: 1.875em;
			}

			@include media-breakpoint-up(md) {
				@include media-breakpoint-down(lg) {
					padding-left: 15px;
					padding-right: 0;
					@include make-col(2.5);
				}
			}

			@include media-breakpoint-up(xxl) {
				margin-left: -1.813em;
			}

    		.deal-countdown	{
    			span[data-value] {
					display: none;
    			}

    			span {
					@include media-breakpoint-up(xl) {
						@include media-breakpoint-down(xl) {
							padding-left: 3px;
							padding-right: 3px;
						}
					}
    			}

    			b {
					font-size: 0.625em;
					font-weight: 300;
					text-transform: uppercase;
				}
    		}

    		img {
				    bottom: 0px;
					left: -22px;
					max-width: 211px;
			}
		}

		.products-carousel-with-bg {
			@include media-breakpoint-up(xl) {
				@include make-col(9.7);
			}

			@include media-breakpoint-down(sm) {
				padding: 0;
			}

			@include media-breakpoint-up(md) {
				@include media-breakpoint-down(lg) {
					padding-left: 15px;
					padding-right: 0;
					@include make-col(9.5);
				}
			}

			.slick-dots {
				padding-bottom: 1.875em;
			}
		}
	}

	.full-width-banner {
    	margin-bottom: 2.5em;
	}

	.section-landscape-products-carousel-tab.section-products-carousel-tabs {
		.products .product {
			padding: 0;
		}
	}

	.deal-countdown {

		> span {

			.value {
				font-size: 1.250em;
				background-color: #fff;
				width: 50px;
				height: 50px;
				line-height: 2.5em;
				margin-bottom: 0.4em;
			}
		}
	}

	.section-landscape-products-carousel-with-thumbnails {
		&.section-landscape-products-carousel {
			margin-bottom: 2.5em;

			.section-header {
				margin-bottom: 0.7em;

				h2 {
					line-height: 1.292em;
				}
			}

			.slick-list {
				margin-bottom: 0;
			}

			.container-fluid {
				padding: 0;
			}

			.products {
				.landscape-product-card-featured {
					padding: 1.071em;

					.price {
						font-size: 1.286em;

						del {
							font-size: 0.8332em;
						}
					}

					h3 {
						font-size: 1.071em;
					}

					div[itemprop=description],
					.woocommerce-product-details__short-description {
						display: none;
					}

					&.product.slick-active {
						&:after {
							content: " ";
						    width: 1px;
						    height: 226px;
						    background-color: #ebebeb;
						    display: block;
						    position: absolute;
						    left: -3px;
						    top: 30%;
						    transform: translateY(-30%);
						}
					}

					.media {
						margin: 0 -1.071em;

						@include media-breakpoint-down(sm) {
							flex-direction: column;							
						}

						.techmarket-product-gallery {
							@include media-breakpoint-down(sm) {
								display: flex;
	    						flex-direction: column;
							}
						}

						.techmarket-wc-product-gallery-thumbnails__wrapper {
							@include media-breakpoint-down(sm) {
								height: auto;
							}

							.slick-track  {
								@include media-breakpoint-down(sm) {
									display: flex;
								}
							}
						}

						.images {
			    			display: flex;
			    			@include make-col-ready;
							@include make-col(6.6);
							justify-content: center;

							@include media-breakpoint-down(sm) {
								@include make-col(12);
							}

							.techmarket-wc-product-gallery-thumbnails__wrapper {
								width: 64px;
								@include media-breakpoint-down(sm) { 
									width: 100%;
								}


							}

							.techmarket-wc-product-gallery__wrapper {
								width: 323px;

								img {
									max-width: 323px;

									@media (max-width:360px) {
										max-width: 283px;
									}
								}
							}

							&.techmarket-wc-product-gallery + div.media-body {
								padding-left: 2.143em;
							}

							.techmarket-wc-product-gallery-thumbnails__wrapper,
							ol {
								padding-top: 0;

								 li img,
								 img {
								    max-width: 59px;
								}
							}

			    			.woocommerce-product-gallery__image {
			    				flex-grow: 1;

			    				img {
			    					margin: 0 auto;

									@include media-breakpoint-up(xxl) {
										max-width: 323px;
									}

									@include media-breakpoint-up(xs) {
										@include media-breakpoint-down(xl) {
											max-width: 100%;
										}
									}
			    				}
			    			}
			    		}

						.media-body {
							margin-top: 1.1em;
							@include make-col-ready;
							@include make-col(5.4);

							@include media-breakpoint-up(md) {
								padding-right: 3.714em !important;
							}

							@include media-breakpoint-down(sm) {
								@include make-col(12);
							}
						}
					}
				}
			}
		}
	}

	.section-product-carousel-with-featured-product.type-2 {
		.section-header .nav-item .nav-link {
		    padding: 0 1.333em;
		}
	}

	.content-area {
		margin-bottom: 0;
	}

	.site-main {
		margin-bottom: 0;	
	}
}
